extends layout

block content
    script(src="/javascripts/dashboard.js")
    h1 Welcome to your Move Modulate dashboard
    div.row.show-grid
        div.span4
            div.column Yesterday
            div.column.walk-yesterday
        div.span4
            div.column Today
            div.column.walk-today
        div.span4
            div.column Tomorrow You Should Walk
            div.column.walk-tomorrow
