extends layout

block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/jqplot/jquery.jqplot.min.js")
    script(src="/libs/jqplot/plugins/jqplot.dateAxisRenderer.min.js")
    script(src="/libs/underscore-min.js")
    script(src="/javascripts/dashboard.js")
    link(rel="stylesheet", href="/libs/jqplot/jquery.jqplot.css")
    div.row
        div.span10
        div.span2
            a.btn.btn-default(href="/auth/moves") Switch User
    h1.text-center Welcome to your Move Modulate dashboard
    div.row.text-center
        div.span4
            div.column Yesterday
            strong
                div.column.walk-yesterday
        div.span4
            div.column Today
            strong
                div.column.walk-today
        div.span4
            div.column Tomorrow You Should Walk
            strong
                div.column.walk-tomorrow
    div.spacer
    div.row.graph#walk-graph
    div.row.text-center

