extends layout

block content
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    script(src="/libs/jqplot/jquery.jqplot.min.js")
    script(src="/libs/jqplot/plugins/jqplot.dateAxisRenderer.min.js")]
    script(src="/libs/jqplot/plugins/jqplot.highlighter.min.js")
    script(src="/libs/underscore-min.js")
    script(src="/javascripts/dashboard.js")
    link(rel="stylesheet", href="/libs/jqplot/jquery.jqplot.css")
    div.container-fluid
        div.row-fluid.text-right
                a.btn.btn-default(href="/logout") Logout
        div.row-fluid
            div.span12
                h1.text-center Welcome to your Move Modulate dashboard
        div.row-fluid.text-center
            div.span4
                div.column Today You've Walked
                strong
                    div.column.walked-today
            div.span4
                div.column You Should Walk Another
                strong
                    div.column.walk-more-today
            div.span4
                div.column Tomorrow You Should Walk
                strong
                    div.column.walk-tomorrow
        div.spacer
        div.graph#walk-graph
        div.spacer
        div#date-range-slider
        div.row-fluid
            div.span3 Moves Tracking Began
            div.span8
            div.span1.text-right Today
