doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/libs/Flat-UI-master/css/flat-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    block content
