extends layout

block content
    div.container-fluid
        h1.text-center Welcome to Move Modulate
        div.spacer
        div.text-center
            a.btn.btn-large.btn-primary(href=authorizationUrl) Authorize Moves
        div.spacer
        div.text-center.demo
            if (allowDemo)
                a.demo.btn.btn-large.btn-inverse Demonstration Mode
    script(src="/javascripts/login.js")
